<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <title>New Product</title>
</head>
<body>
    
    <nav>
        <h2>Home</h2>
        <h2>About</h2>
    </nav>
    <form method="POST" enctype="multipart/form-data">

        <label>Product Name</label>
        <input type="text" name="name">

      

        <label>Category</label>
        <input type="text" name="category">

        <label>Brand</label>
        <input type="text" name="brand">

        <label>Price</label>
        <input type="text" name="price">

        <label>Image</label>
        <input type="file" name="image">

        <button type="submit">Save</button>
       
           
        <!-- Create the editor container -->
        <div id="editor" name="description">
        
        </div>
          
        
    </form>
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
     
    <script>
        var editor = new Quill('#editor', {
            modules: {
            toolbar: [
            [{ header: [1, 2, false] }],
            ['bold', 'italic', 'underline'],
            ['image', 'code-block'],
            [{'color': ["#000000", "#e60000", "#ff9900", "#ffff00", "#008a00", "#0066cc", "#9933ff", "#ffffff", "#facccc", "#ffebcc", "#ffffcc", "#cce8cc", "#cce0f5", "#ebd6ff", "#bbbbbb", "#f06666", "#ffc266", "#ffff66", "#66b966", "#66a3e0", "#c285ff", "#888888", "#a10000", "#b26b00", "#b2b200", "#006100", "#0047b2", "#6b24b2", "#444444", "#5c0000", "#663d00", "#666600", "#003700", "#002966", "#3d1466", 'custom-color']}]
            ]
        },
          theme: 'snow'
        });
      </script> 
</body>
</html>
