<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    
    <nav>
        <h2>Home</h2>
        <h2>About</h2>
    </nav>
    <form method="POST" enctype="multipart/form-data">

        <label>Product Name</label>
        <input type="text" name="name">

        <label>Product Description</label>
        <input type="text" name="description">

        <label>Category</label>
        <input type="text" name="category">

        <label>Price</label>
        <input type="text" name="price">

        <label>Image</label>
        <input type="file" name="image">

        <button type="submit">Save</button>
    </form>
</body>
</html>
